= render 'layouts/header'

.content-container
  %h1 Thank You for Completing the Survey
  .lead
    You are all set and no futher action is needed on your behalf.
  .lead
    = link_to "Home", root_path, :class => "btn btn-lg btn-default"
