.nav.navbar.banner
  .navbar-text Experiment
  %button.btn.btn-default.navbar-btn.pull-right Sign in with Google

.page-header.header
  .container
    %h1 Code Clarity
.content-container
  %h1 Coding Survey
  .lead
    Take this survey to help understand some clarity around how good code is made.
  .lead
    %a.btn.btn-lg.btn-default Take the Survey
