= render 'layouts/header'

.content-container
  %h1 Coding Survey
  .lead
    Take this survey to help understand some clarity around how good code is made.
  .lead
    = link_to "Take the Survey", question_path(:id => 1), :class => "btn btn-lg btn-default"
