// Place all the styles related to the shared controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  background-color: darkgreen;
  color: white;
  margin-bottom: 0;
}

.content-container {
  text-align: center;
}

.home-link {
  a:hover, a:visited, a:link, a:active {
    color: inherit;
    text-decoration: none;
  }
}
